@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
} */

html{
  font-family: var(--font-poppins), sans-serif;
  scroll-behavior: smooth;
}

html, body {
  scroll-behavior: smooth;
}

.swal2-container {
  z-index: 20000 !important;
}

body.swal2-shown {
  padding-right: 0 !important;
}

.swal2-container {
  overscroll-behavior: none;
}
